<script src='/src/js/views/components/imgSlider.js'></script>
<link rel="stylesheet" type="text/css" href="/src/css/components/imgSlider.css">


    <div class="container">
        <div class="row row-centered">
            <div class="MultiCarousel" data-items="1,3,3,3" data-slide="1" id="MultiCarousel" data-interval="1000">
                <div class="MultiCarousel-inner">
                    <div class="item">
                        <div class="pad15 pop">
                            <img class="img-fluid" src="http://placehold.it/380?text=1">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 pop">
                            <img class="img-fluid" src="http://placehold.it/380?text=2">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 pop">
                            <img class="img-fluid" src="http://placehold.it/380?text=3">
                        </div>
                    </div>
                    <div class="item">
                        <div class="pad15 pop">
                            <img class="img-fluid" src="http://placehold.it/380?text=4">
                        </div>
                    </div>
                </div>
                <button id="leftButton" class="btn btn-primary px-3 leftLst"> <i class="fa fa-angle-left"></i> </button>
                <button id="rightButton" class="btn btn-primary px-3 rightLst"><i class="fa fa-angle-right"></i></button>
            </div>
        </div>
        
    </div>
    {{>imgPopModal}}