<script src="/src/js/views/components/multiImgCarouselModal.js"></script>



<div id="multiImgCarouselModalHolder"></div>
<script id="multiImgCarouselModal-template" type="text/x-handlebars-template">


<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    </ol>
    <div class="carousel-inner">
        \{{#each carouselItems}}
        <div class="carousel-item \{{isActive}}">
            <div class="container">
                <div class="row">
                    \{{#each p}}
                    <div class="col-xl-4 col-md-4 col-sm-6 col-xs-6 mb-4">
                        <div class="card border-0 shadow pop">
                            <img src="\{{img}}"
                                class="card-img-top" alt="...">
                            <div class="card-body text-center">
                                <h5 class="card-title mb-0">\{{txtHeader}}</h5>
                                <div class="card-text text-black-50">\{{txtContent}}</div>
                            </div>
                        </div>
                    </div>
                 \{{/each}}
                </div>
            </div>
        </div>
        \{{/each}}
    </div>
    
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


</script>
{{>imgPopModal}}