<script src="/src/js/views/components/navbar.js"></script>
<link rel="stylesheet" type="text/css" href="/src/css/components/navbar.css">


<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Landscape Holiday Villa</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/home">home</a>
                </li>
                <li id="projectsDropdownListItem" class="nav-item dropdown dropdownList">
                    <div id="projectsDropdownDiv" class="nav-link">
                        <a id="selectedProjectsTxt" class="navItemDropdown" href="/projects">Project info</a>

                        <a id="projectsDropdownCaret" aria-expanded="false" aria-haspopup="true" role="button"
                            data-toggle="dropdown" class="dropdown-toggle navItemDropdown" href="#">
                            {{!-- <span id="selected">项目介绍</span> --}}
                            {{!-- <span class="caret"></span> --}}
                        </a>
                        <ul id="projectsDropdownUl" class="dropdown-menu">
                            <li><a class="js-scroll-trigger" href="/projects#homevid">our video</a></li>
                            <li><a class="js-scroll-trigger" href="/projects#projectsInfo">project overview</a></li>
                            <li><a class="js-scroll-trigger" href="/projects#houseLayout">floor plan</a></li>
                            <li><a class="js-scroll-trigger" href="/projects#projectDesign">courtyard design</a></li>
                            <li><a class="js-scroll-trigger" href="/projects#amenities">vacation activities</a></li>
                            <li><a class="js-scroll-trigger" href="/projects#projectLocation">project location</a></li>
                        </ul>
                    </div>
                </li>


                {{!-- <li id="projectsDropdown" class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                        class="dropdown-toggle nav-link" href="/projects">
                        <span id="selected">项目介绍</span>
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="js-scroll-trigger" href="/projects#homevid">主视频</a></li>
                        <li><a class="js-scroll-trigger" href="/projects#projectsInfo">项目信息</a></li>
                        <li><a class="js-scroll-trigger" href="/projects#houseLayout">九种户型</a></li>
                        <li><a class="js-scroll-trigger" href="/projects#amenities">周边配套</a></li>
                        <li><a class="js-scroll-trigger" href="/projects#projectLocation">项目位置</a></li>
                    </ul>
                </li> --}}

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/gallery">gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/videoPortfolio">design inspiration video</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/projectNews">news&event</a>
                </li>
                {{!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/news">新闻</a>
                </li> --}}
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/contact">contact us</a>
                </li>
                {{!-- <li id="languagesDropdownListItem" class="nav-item dropdown dropdownList">
                    <div id="languagesDropdownDiv" class="nav-link">
                        <a id="selectedLanguagesTxt" aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown"
                            class="dropdown-toggle navItemDropdown" href="#">
                            Language
                        </a>
                        <ul id="languagesDropdownUl" class="dropdown-menu">
                            <li>
                                <span class="flag-icon flag-icon-gb"></span>
                                <a class="js-scroll-trigger" rel="en" href="">English</a>
                            </li>
                            <li>
                                <span class="flag-icon flag-icon-de"></span>
                                <a class="js-scroll-trigger" rel="de" href="">German</a>
                            </li>
                            <li>
                                <span class="flag-icon flag-icon-es"></span>
                                <a class="js-scroll-trigger" rel="es" href="">Spanish</a>
                            </li>
                            <li>
                                <span class="flag-icon flag-icon-cn"></span>
                                <a class="js-scroll-trigger" rel="cn" href="">Chinese</a>
                            </li>
                        </ul>
                    </div>
                </li> --}}
            </ul>
        </div>

        {{!-- <div id="socialBar"> --}}
        {{!-- <ul id="socialBar">
            <li><a target="_blank" href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a></li>
            <li><a target="_blank" href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a></li>
            <li><a target="_blank" href="https://www.youtube.com/"><i class="fa fa-youtube"></i></a></li>
            <li><a target="_blank" href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a></li>
        </ul> --}}
        {{!-- </div> --}}

        <div id="sidePanel">
            <div id="panelContent">
                {{!-- <iframe
                    src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fcampyavneh&amp;width=292&amp;height=590&amp;show_faces=true&amp;colorscheme=light&amp;stream=true&amp;border_color&amp;header=true&amp;appId=132179142482"
                    scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:292px; height:590px;"
                    allowTransparency="true">
                </iframe> --}}
                <iframe
                    src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FLandscape-holiday-villa-109058467453823&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                    width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowTransparency="true" allow="encrypted-media">
                </iframe>
            </div>
            <div id="panelHandle">
                {{!-- <img src="https://thearts.gsu.edu/files/2018/04/facebook-logo.png" alt="Facebook"> --}}
                <span id="socialSidebar" class="facebook"><i class="fa fa-facebook"></i></span>
            </div>

        </div>


    </div>
</nav>