<link rel="stylesheet" href="/src/css/pages/gallery.css">


<br>
<br>
<br>
<br>
<br>
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Landscape sketch</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-6-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-12-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Architectural beauty</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-6-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-12-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Interior design</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-6-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-12-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">Lifestyle</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-6-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-12-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div>
</div>