<link rel="stylesheet" href="/src/css/pages/home.css">
<script src="/src/js/views/pages/home.js"></script>


<div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="/img/home/lover.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h2>First Slide</h2>
                    <a class="btn btn-primary" href="gallery">Gallery</a>
                    <p class="lead">A wonderful holiday villa town, with 467 holiday villas, 9 house patterns and 8 courtyard types for option</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/home/friends.jpg" alt="Second slide">
                <div class="carousel-caption">
                    <h2>Second Slide</h2>
                    <a class="btn btn-primary" href="projects">Projects</a>
                    <p class="lead">Splendid house patterns, with 49m2-110m2 variable spatial layout design</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/home/service.jpg" alt="Third slide">
                <div class="carousel-caption">
                    <h2>Third Slide</h2>
                    <a class="btn btn-primary" href="gallery">Gallery</a>
                    <p class="lead">Unbelievable courtyard design: single courtyard/ two-household courtyard/ four-household courtyard/ six-household courtyard/ eight-household courtyard/ 24-household courtyard/ 36-household courtyard</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/home/salesRecption.jpg" alt="Fourth slide">
                <div class="carousel-caption">
                    <h2>Fourth Slide</h2>
                    <a class="btn btn-primary" href="gallery">Gallery</a>
                    <p class="lead">Desirable architecture and environment art, integrating architecture, landscape, waterscape and vacation fun all in one</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/home/yard.jpg" alt="Fifth slide">
                <div class="carousel-caption">
                    <h2>Fifth Slide</h2>
                    <a class="btn btn-primary" href="projects">Projects</a>
                    <p class="lead">Undeniable investment option: readily well-decorated；USD 45,000-98,000</p>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="/img/home/family.jpg" alt="Fifth slide">
                <div class="carousel-caption">
                    <h2>Sixth Slide</h2>
                    <a class="btn btn-primary" href="projects">Projects</a>
                    <p class="lead">Have a good time with your beloved</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    <header class="bg-primary text-center py-5 mb-4">
        <div>
            <h1 class="font-weight-light text-white">project overview</h1>
        </div>
    </header>
<br>

    <div class="container">
        <div class="row">
            <!-- 1 -->
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="/img/home/project1.jpg" class="card-img-top" alt="...">
                    {{!-- <div class="card-body text-center">
                        <h5 class="card-title mb-0">添加文字</h5>
                        <div class="card-text text-black-50">添加文字</div>
                    </div> --}}
                </div>
            </div>
            <!-- 2 -->
            <div class="col-xl-6 col-md-6 col-sm-6 col-xs-6 mb-4">
                <div class="card border-0 shadow">
                    <img src="/img/home/project3.jpg" class="card-img-top" alt="...">
                    {{!-- <div class="card-body text-center">
                        <h5 class="card-title mb-0">添加文字</h5>
                        <div class="card-text text-black-50">添加文字</div>
                    </div> --}}
                </div>
            </div>
        </div>
    </div>

    <div>
        <img class="aligncenter" src="/img/always-a-good-time.png" alt="centered image">
    </div>


    {{> multiCarouse}}
    {{!-- <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <a class="btn btn-primary" href="projects">项目介绍</a>
            <hr />
        </div>


    </div> --}}
    <br>
    <header class="bg-primary text-center py-5 mb-4">
        <div>
            <a href="projects">
                <h1 class="font-weight-light text-white">more information</h1>
            </a>
        </div>
    </header>


    <div id="route" class="scrollingParallax">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Landscape Holiday Villa</h2>
                <h3 class="section-subheading text-muted">添加文字</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 1: About 196km via Phnom Penh- Sihanoukville Expressway, around 1h and 50min by car</h4>
                </a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 2: Start from Phnom Penh Highway No. 41 , to 178-km section of National Highway No. 3,around 2h and 30min by car</h4>
                </a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 3: Start from Phnom Penh Highway No.4 and transfer to Highway No. 3 at Sihanoukville, around 160min driving time</h4>
                </a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 4: About 50km from Sihanoukville Airport, driving time is 50 minutes</h4>
                </a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 5: About 60km from Ha Tien of Vietnam, around 50min driving time</h4>
                </a>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <a href="route1">
                        <img border="0" alt="" src="/img/home/routeLogo.png" width="100" height="100">
                    </a>
                </span>
                <a href="route1">
                    <h4 class="service-heading text-white">Route 6: About 30km from Kampot city, driving time is 20 minutes</h4>
                </a>
            </div>
            {{!-- <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路6</h4>
                <p class="text-muted">添加文字</p>
            </div> --}}
        </div>
    </div>
    {{!-- <div style="background-image:url(http://lhvilla.com/wp-content/uploads/2014/07/home-banner-004.jpg); opacity:0.5; filter: alpha(opacity=50);" class="full-bg-image"></div> --}}

    <div class="card-body text-center">
        <h5 class="card-title mb-0">添加文字</h5>
        <div class="card-text text-black-50">添加文字</div>
        <p><img class="img-frame aligncenter" src="http://lhvilla.com/wp-content/uploads/2014/05/hospitality-logo.png"
                alt=""></p>
    </div>




</div>
<!-- /.container -->