<br>
<br>
<br>
<br>
<br>
<br>
<!-- Page Content -->
<div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">会员中心
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-8">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies,
                justo eu convallis placerat, felis enim.</p>
        </div>

    </div>

    <div class="container">
        <div id="memberFunction" class="row container-fluid text-center">
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
               <a href="membershipDetails"> <h4 class="service-heading">度假</h4></a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
               <a href="membershipDetails"> <h4 class="service-heading">投资</h4></a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
<a href="membershipDetails"> <h4 class="service-heading">旅游</h4></a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
<a href="membershipDetails"> <h4 class="service-heading">社交</h4></a>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-2">
                <span class="fa-stack fa-3x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
<a href="membershipDetails"> <h4 class="service-heading">度假</h4></a>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->