<link rel="stylesheet" href="/src/css/pages/projects.css">


{{!-- <link rel="stylesheet" href="/src/css/grayscale.css"> --}}

{{!-- <div class="embed-responsive embed-responsive-4by3">
    <video width="320" height="240" controls>
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</div> --}}

<div id="homevid" class="overlay embed-responsive embed-responsive-16by9">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
        <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
</div>

<div id="projectsInfo" class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">总</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <!-- Team Member 1 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 2 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-6-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
        <!-- Team Member 3 -->
        <div class="col-xl-4 col-md-6 mb-4">
            <div class="card border-0 shadow">
                <img src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-12-600x400.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body text-center">
                    <h5 class="card-title mb-0">添加文字</h5>
                    <div class="card-text text-black-50">添加文字</div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">第一期</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
</div>

<div class="container">
    <div>
        <img class="aligncenter" src="https://ktar.com/wp-content/uploads/2019/10/21m-pv-home-1-539x400.jpg"
            alt="centered image">
    </div>
</div>

<div id="nineInterior">
    <img class="aligncenter" src="http://lhvilla.com/wp-content/uploads/2014/05/always-a-good-time.png"
        alt="centered image">
    {{>imgSlider}}
</div>

<div id="amenities" class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">周边配套</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>
    {{>imgSlider}}
</div>

<div id="projectLocation" class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-black">
            <h1 class="display-3">项目位置</h1>
            <p class="lead mb-0">添加文字</p>
        </div>
    </div>


    <div id="">
        <div class="row">
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路1</h4>
                <p class="text-muted">添加文字</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路2</h4>
                <p class="text-muted">添加文字</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路3</h4>
                <p class="text-muted">添加文字.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路4</h4>
                <p class="text-muted">添加文字</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路5</h4>
                <p class="text-muted">添加文字.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">线路6</h4>
                <p class="text-muted">添加文字</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h3 class="display-3">Map</h3>
    <!--Google map-->
    <div id="map-container-google" class="z-depth-1-half map-container-6" style="height: 400px">
        <iframe src="https://maps.google.com/maps?q=new%20delphi&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0"
            style="border:0" allowfullscreen></iframe>
    </div>
</div>