<link rel="stylesheet" href="/src/css/pages/projectNews.css">

<br>
<br>
<br>
<br>
<br>
<br>
<!-- Page Content -->
{{!-- <div class="container">

    <!-- Portfolio Item Heading -->
    <h1 class="my-4">会员中心
        <small>Secondary Text</small>
    </h1>

    <!-- Portfolio Item Row -->
    <div class="row">

        <div class="col-md-6">
            <img class="img-fluid" src="http://placehold.it/750x500" alt="">
        </div>

        <div class="col-md-6">
            <h3 class="my-3">Project Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque
                urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies,
                justo eu convallis placerat, felis enim.</p>
        </div>

    </div>

</div> --}}

{{!-- <div>
    <img class="aligncenter" src="http://lhvilla.com/wp-content/uploads/2014/05/always-a-good-time.png"
        alt="centered image">
</div> --}}

<div class="container">

    <!-- Project One -->
    <div class="row">
        <div class="col-md-6">
            {{!-- <a href=""> --}}
            <img class="img-fluid rounded mb-3 mb-md-0" src="/img/news/1.jpg" alt="">
            {{!-- </a> --}}
        </div>
        <div class="col-md-6">
            <h3>Construction ceremony of "Landscape Holiday Villa"</h3>
            <p>On February 1, 2020, BWSL (Cambodia) Investment Real Estate Co., Ltd.held a construction ceremony at the
                location of the "Landscape Holiday Villa" project (Prek Krong Village and Trapaing in Prek Thnot
                Commune, Tek Chhou District, Kampot) , which marked the official construction start of the Landscape
                Holiday Villa project.
            </p>
            <p>
                The project is located on the 178-km section of National Highway No. 3, about 30 km away from Kampot
                city, about 40 km away from the entrance of Phnom Penh-sihanoukville Expressway, about 50 km away from
                Sihanoukville Airport, and about 4.5 km away from the top of Bokor Mountain. About 1 km from the sea.
                After the Phnom Penh-Sihanoukville Expressway opened to traffic in June 2022, it only took a 1:
                50-minute drive from Phnom Penh to "Landscape Holiday Villa".
            </p>
            {{!-- <a class="btn btn-primary" href="memberActivities">View Project</a> --}}
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Two -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/img/news/2.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Clearance work ended successfully</h3>
            <p>News from this site, on February 5, 2020, the company fully carried out the clearing work of the 270,000
                square meters of land for the first phase of the "Landscape Holiday Villa". On March 15th, all tasks of
                the first phase of the project were successfully completed, which provided the basic conditions for the
                next step of the project.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Three -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/img/news/3.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Geological survey completed successfully</h3>
            <p>News from this site，On February 15, 2020, Cambodia First Engineering Co., Ltd. undertook the geological
                survey of the first phase of the "Landscape Holiday Villa". After 40 days of hard work by the company,
                on March 25, 2020, all geological surveys were successfully completed, the geological status of the
                project was ascertained, which provided a basis for the next step of construction and provided a strong
                guarantee for the quality of the project.</p>
        </div>
    </div>
    <!-- /.row -->

    <hr>

    <!-- Project Four -->
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid rounded mb-3 mb-md-0" src="/img/news/4.jpg" alt="">
        </div>
        <div class="col-md-6">
            <h3>Construction roads are under intense construction</h3>
            <p>News from this site，From April 5, 2020 to the present, the company has organized a strong construction
                team to carry out the construction of the road for the first phase of the"Landscape Holiday Villa" with
                a total length of two kilometers (20 meters wide). As of May 11, 2020, the main road project has
                completed one kilometer of foundation and 200 meters of culvert. It is estimated that it will take
                another month to complete the construction of all roads.</p>
        </div>
    </div>

    <hr>

    <br>

</div>